/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Oswald:wght@200..700&display=swap');

body{
    font-family: "Inter", sans-serif;

}
h1{
    font-family: 'Macondo', cursive;
}
